.bagItem {
    flex: 1 0 100%;
    max-width: 635px;
    padding: 18px 28px 15px 18px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px #0000001A;
    background-color: white;

    @media(max-width: 1024px) {
        max-width: none;
    }
}

.innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info{
    display: flex;
    align-items: center;
    column-gap: 24px;
    font-weight: 500;
}

.imgContainer {
    width: 147px;
    height: 136px;
    overflow: hidden;
    img {
        height: 100%;
        width: auto;
    }
}

.detail {
    padding-top: 30px;
}

.infoBottom {
    padding-left: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.price {
    padding-top: 12px;
    color: #AAAAAA;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}

.priceBottom {
    color: #1C1C27;
    font-size: 15px;
}

.delete {
    background-color: inherit;
    border: none;
}