
.price {
    color: #FFA542;
    text-align: right;
}

.oldPrice {
    padding-right: 7px;
    font-size: 15px;
    line-height: 16px;
    text-decoration: line-through;
    text-align: right;
    color: #FFCE7F
}