@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'utils/reset.css';

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: black;
}
a:hover {
  color: #FFA542;
  transition: color 0.3s ease-in-out;

  svg,  path {
    fill: #FFA542;
    stroke: #FFA542;
    transition: all 0.3s ease-out;
  }
}

body {
  width: 77%;
  max-width: 1110px;
  margin: 0 auto;
  background-color: #EAEAEA;
  font-family: Montserrat, sans-serif;
  line-height: 21px;
  font-weight: 600;
  font-size: 17px;

  @media(max-width: 320px) {
    width: 90%;
  }
}

h1 {
  font-size: 20px;
  line-height: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

button {
  font-family: Montserrat, sans-serif;
  line-height: 21px;
  font-weight: 600;
  font-size: 17px;
}

