.counter {
    display: flex;
    gap: 25px;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:none;
    background: #FFCE7F;
    color: white;
    font-size: 30px;
}